@model List<ClientsComments>
@{
    ViewData["Title"] = "Home Page";
}

<section id="intro">
    <div class="container">

        <div class="d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-6 d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="content-header">Launch Your SaaS Website in Minutes!</div>
                        <div class="content-text mt-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                        <div class="content-button">
                            <a href="#">Get Start</a>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="intro-img">
                        <img src="assets/image/hero-img.png" alt="intro-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex align-items-center flex-column">
                <div class="features-icon">
                    <i class="fa-brands fa-bootstrap"></i>
                </div>
                <div class="features-header">Bootstrap 5</div>
                <div class="features-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
            <div class="col-4 d-flex align-items-center flex-column">
                <div class="features-icon">
                    <i class="fa-brands fa-bootstrap"></i>
                </div>
                <div class="features-header">Bootstrap 5</div>
                <div class="features-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
            <div class="col-4 d-flex align-items-center flex-column">
                <div class="features-icon">
                    <i class="fa-brands fa-bootstrap"></i>
                </div>
                <div class="features-header">Bootstrap 5</div>
                <div class="features-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="about-image"><img src="assets/image/about-left.png" alt=""></div>
            </div>
            <div class="col-6 d-flex flex-column justify-content-center">
                <div class="about-header">Perfect Solution Thriving Online Business</div>
                <div class="about-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.
                </div>
                <div class="about-button"><a href="">Discover Me</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center">
                <div class="about-header">Easy to Use with Tons of Awesome Features</div>
                <div class="about-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                <div class="about-list">
                    <ul>
                        <li>Quick Access</li>
                        <li>Easily to Manage</li>
                        <li>24/7 Support</li>
                    </ul>
                </div>
                <div class="about-button"><a href="">Learn More</a></div>
            </div>

            <div class="col-6">
                <div class="about-image"><img src="assets/image/About-Right.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<section id="why">
    <div class="container">
        <div class="why-header text-center">Why Choose SaaSpal</div>
        <div class="why-text text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <br> diam nonumy eirmod tempor invidunt ut labore et dolore</div>
        <div class="row">
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
            <div class="col-4">
                <div class="why-cart">
                    <div class="why-cart-icon"><i class="fa-solid fa-desktop"></i></div>
                    <div class="why-cart-header">SaaS Focused</div>
                    <div class="why-cart-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clients">
    <div class="content" style="padding: 60px 0;">

        <div class="container">

            <h2 class="my-5 text-center">What our customers says</h2>

            <div class="owl-carousel slide-one-item">
                @foreach (var item in Model)
               {
                   <div class="d-md-flex testimony-29101 align-items-stretch">
                    <div class="image" style="background-image: url('assets/image/@item.ImageUrl');"></div>
                    <div class="text">
                        <blockquote>
                            <p>@item.Comment</p>

                            <div class="author">@item.FullName<br />@item.Position</div>
                        </blockquote>
                    </div>
                </div>  <!-- .item -->
               }
                
            </div>
        </div>
    </div>
</section>
